@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #080C25;
    color: #E5E5E5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 

}
header{
    width: 100%;
    height: 100vh;
    background-image:none;
    background-size: cover;
    background-position: center;
    
}


.container{
    padding: 10px 10%;
}


nav{
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #1EB1F7;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

nav h3 a{
    color: #E5E5E5;
}
.nav-logo span{
    color: #1EB1F7;
}
.nav-logo{
    font-size: xx-large;
    font-weight: bold;
    margin: 10px 20px;
    font-family: 'Telma', cursive;
}

.nav-logo a{
    text-decoration: none;
}
.nav-logo a:hover{
    color: #1EB1F7;
}


.home-text{
    margin-left: 10%;
    margin-top: 20%;
    font-size: 30px;
}
.home-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.home-text h1 span{
    color: #1EB1F7;
}
.home-text p{
    font-weight: lighter;
    word-spacing: 5px;
    letter-spacing: 6px;
}

#about{
    padding: 80px 0;
    height: 100vh;
    /* color: #1EB1F7; */
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;

}
.about-col-1 img{
    /* margin-top: 10%; DL1 */
    width: 100%; 
    /* height: 68vh; DL2 */
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%; /*size*/
}

.sub-title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6rem;
    line-height: 0.2;
}
.sub-title h1{
    color: rgba(31, 131, 134, 0.644);
    font-size: 8rem;
}
.about-col-2 p{
    text-indent: 50px;
    /* letter-spacing: 1px; */
    line-height: 1.5;
    word-spacing: 2px;
    margin-top: 10px;

}

#skills .container {
    width: 100%;
    height: 100vh;
    padding-top: 5rem; 
    
} 

.s-body{
    display: flex;
    align-items: center;
    justify-content: center;
}


.skills h2{
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: #E5E5E5;
    font-size: 15px;
}
.progress-bar{
    background: #959595;
    width: 600px;
    height:10px ;
    border-radius: 5px;
}
.progress-bar div{
    height: 10px;
    border-radius: 5px;
    width: 0%;
    /* background: red; */
}
.progress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #222;
    float: right;
    margin-top: -15px;
    margin-left: -20px;
    color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
}


 /* progress bar for HTML  */
.html{
    background-color: #ED6316; 
    /* background-color: #EF981F; */
    animation: html 1.5s linear forwards;
}
.html span{
    border: 1px solid #ED6316;
}
@keyframes html{
    100%{
        width: 86%;
    }
}

/* Progress bar for css */
.css{
    background-color: #5800FF;
    animation: css 2s linear forwards;
}
.css span{
    border: 1px solid #5800FF;
}
@keyframes css{
    100%{
        width: 74%;
    }
}

/* Progress bar for js */
.js{ 
    background-color: #E7191F;
    animation: js 2s linear forwards;
}
.js span{
    border: 1px solid #E7191F;
}
@keyframes js{
    100%{
        width: 46%;
    }
}

/* progress bar for Bootstrap  */
.bootstrap{
    background-color: #00D7FF;
    animation:bootstrap 2s linear forwards;
}
.bootstrap span{
    border: 1px solid #00D7FF;
}
@keyframes bootstrap{
    100%{
        width: 68%;
    }
}


/* progress bar for python */
.python{
    background: #FDFF00;
    animation: python 2s linear forwards;
}
.python span{
    border: 1px solid #FDFF00;
}
@keyframes python{
    100%{
        width: 72%;
    }
}


.c{
    background-color: #FB2576;
    animation:c 2s linear forwards;
}
.c span{
    border: 1px solid #FB2576;
}
@keyframes c{
    100%{
        width: 88%;
    }
}


#projects .container{
    width: 100%;
     height: 100vh;
     padding-top: 6rem;  
    /* background-color: #00D7; */
}
#projects .p-body{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 10rem;
}


.row2{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row2 img{
    height: 16rem;
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), #0C1F50);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #00D7FF;
}

.layer i{
    color: #E5E5E5;
    margin-top: 20px;
    font-size: 20px;
    background: #013DF0;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row2:hover img{
    transform: scale(1.1);
    opacity: 0.2;
}
.row2:hover .layer{
    height: 100%;
}

 #contact .container {
    height: 87vh;
    padding-top: 3rem;
    background-color: #0e1436; 
} 
.c-left{
    flex-basis: 35%;
}
.c-right{
    flex-basis: 60%;
}

.c-left p{
    margin-top: 30px;
}
.c-left p i{
    color: #1EB1F7;
    margin-right: 15px;
    font-size: 25px;
}

.social-media{
    margin-top: 30px;
}
.social-media a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #E5E5E5;
    display: inline-block;
    transition: transform 0.5s;
}

.social-media a:hover{
    color: #1EB1F7;
    transform: translateY(-5px);

}
.btn{
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #233e85;
    padding: 14px 50px;
    border-radius: 6px;
    display: inline-block;
    background: #0C1F50;
    color: #E5E5E5;
    transition: background 0.5s;
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.btn:hover{
    background: #0f9ddf;
}

.c-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: #233e85;
    padding: 15px;
    margin: 15px 0;
    color: #E5E5E5;
    font-size: 18px;
    border-radius: 6px;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #090d2c;
    font-weight: 300;

}
.Link {
    text-decoration: none;
    color: #E5E5E5;
}

.copyright span{
    color: #1EB1F7;
}
.copyright a{
    font-size: 18px;
    font-weight: 500;
}

#msg{
    color: #1EB1F7;
    margin-top: -40px;
    display: block;
}

nav .fas{
    display: none;
}

@media only screen and (max-width: 430px){
    
    .home-text h1{
        margin-top: 70%;
        font-size: 40px;
    }
    .home-text p {
        font-size: 17px;
        word-spacing: none;
        letter-spacing: 2px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
        margin-right: -0.5rem;
    }
    .nav-logo a{
        margin-left: -2rem;
    }
    nav ul{
        background: #090d2c;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;

    }
    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title{
        font-size: 40px;
        margin-bottom: 3rem;
        line-height: 0.1;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 60px; 
    }

    .sub-title h1{
        font-size: 3rem;
    }
    .sub-title h6{
        font-size: 1.23rem;
    }
    .about-col-2{
        font-size: 15px;
    }
    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .c-left, .c-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }

    .progress-bar{
    width: 250px;
    height: 8px;
    }
    .progress-bar div{
        height: 8px;
    }
    .progress-bar div span{
        height: 30px;
        width: 30px;
        font-size: 12px;
        margin-top: -12px;
    }
    #about{
        height: auto;
    }
    #skills{
        margin-top: 5rem;
    }
    #services{
        padding: 20px 5px ;
    }
    #services .container{
        height: auto;
        padding-top: 2rem;
        margin-bottom: 3rem;
    }
    #projects {
        margin-bottom: 5rem;
    }
    #projects .container{
        height: auto;
        padding-top: 5rem;    
    }
    #projects .p-body{
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
        align-items: center;
        gap: 5rem;
    }
    #contact .container{
        height: 100vh;
    }    
    .c-left h1{
        margin-bottom: 2rem;
    }
    .c-left p{
        margin-top: -2rem;
        /* background-color: #00D7FF; */
    }
    .c-left p i{
        margin-right: 10px;
        font-size: 20px;
    }
    .sub-titles{
        font-size: 3rem;
    }

    .social-media{
        margin-top: 25px;
    }
    .btn{
        margin-top: 15px;
        margin-left: 20%;
    }
    .nav-logo{
        margin: 10px -10px;
    }

    .fas{
        margin: 25px;
    }
}